
<h1 class= "text-center mt-4">Edit Article!</h1>
<%= render 'form' %>

<div class="mb-3 row justify-content-center">
	<%= link_to 'Cancel (Return to Article)', article_path(@article), class: "btn btn-dark" %>
</div>
