
<h1 class= "text-center mt-4">About</h1>

<div class="container bg-light">
	<div class="row justify-content-md-center">
		<div class="col-8 mt-4">
			<p>This is a test blogging site built on Rails 6 using Ruby 3.0.0. Currently, we are still building the functionality of this site to include a userbase, pagination, and pricing. Please consider this site as still in beta.</p>
		</div>
	</div>
</div>