<div id="page-content">
	<div  class="container" id="home-container">
	  <div class="jumbotron text-center text-white">
	    <h1 class="display-4">Alpha Blog</h1>
	    <p class="lead">This is a blogging site for beginners.</p>
	    <hr class="my-4">
	    <p>Create articles with a title and description.</p>
	    <a class="btn btn-success btn-lg" href="#" role="button">Create</a>
	  </div>
	</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Ciara Jessica Villanueva</small>
  </div>
</footer>