
<div  class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is a blogging site for beginners.</p>
    <hr class="my-4">
    <p>Create articles with a title and description.</p>
     <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg", role: "button" %>
  </div>
</div>


