@import 'bootstrap/dist/css/bootstrap';

/* Navigation Classes */

.navbar {
	background-color: black !important;
}

.nav-link {
	color: white !important;
}

.navbar-brand {
	font-size: 3rem;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: white !important;
	text-transformation: uppercase !important;
	letter-spacing: -1px;
	font-weight: bold;
}

/* Home Page Classes */

#home-container {
	margin-top: 25px;
	line-height: 0;
	text-align: center;
}

.jumbotron {
	background-image: asset-url('jumbo-image.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: white;
}

h1 {
	font-weight: bold;
}





