<h1 class= "text-center mt-4">Edit Category Name</h1>


<%= render 'form' %>
	
<div class="mb-3 row justify-content-center">		
	<%= link_to 'Cancel (Return to Category Page)', category_path(@category), class: "btn btn-dark" %>
</div>
