<h1 class= "text-center mt-4">Create a New Category!</h1>

<%= render 'form' %>

<div class="mb-3 row justify-content-center">		
	<%= link_to 'Cancel (Return to Category Listing)', categories_path, class: "btn btn-dark" %>
</div>
